
@font-face {
  font-family: Gotham;
  src: url(./fonts/gotham/GothamSSm-Book.ttf);
}

.sprite {
  background-image: url(./images/spritesheet.png);
  background-repeat: no-repeat;
}

.central {
  position: absolute;
  left:0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.sprite-calendar {
  width: 16px;
  height: 16px;
  background-position: -10px -46px;
}

.sprite-next {
  width: 8px;
  height: 12px;
  background-position: -10px -82px;
}

.sprite-prev {
  width: 8px;
  height: 12px;
  background-position: -10px -114px;
}

.sprite-collection {
  width: 10px;
  height: 7px;
  background-position: -10px -146px;
}

.sprite-comment {
  width: 25px;
  height: 21px;
  background-position: -10px -173px;
  display: inline-block;
}

.sprite-eye {
  width: 27px;
  height: 17px;
  background-position: -10px -214px;
}

.sprite-like {
  width: 25px;
  height: 22px;
  background-position: -10px -251px;
  display: inline-block;
}

.sprite-map {
  width: 12px;
  height: 17px;
  background-position: -10px -293px;
  display: inline-block;
}

.sprite-place {
  width: 18px;
  height: 26px;
  background-position: -10px -369px;
}

.sprite-star {
  width: 21px;
  height: 20px;
  background-position: -10px -485px;
}

.sprite-pin-info {
  width: 21px;
  height: 19px;
  background-position: -10px -330px;
}

.sprite-search {
  width: 22px;
  height: 22px;
  background-position: -10px -443px;
  position: absolute;
  left: 56px;
  bottom: 18px;
  z-index: 1;
}

.sprite-add-copy {
  width: 16px;
  height: 16px;
  background-position: -10px -10px;
}

.sprite-remowe {
  width: 8px;
  height: 8px;
  background-position: -10px -415px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d9d9d9;
}

div {
  border-radius: 4px;
  font-family: Gotham, Helvetica, sans-serif;
}

.calendar,
.diagram-wrapper,
.mail-wrapper,
.book-form,
.place-wrapper {
  margin: 20px auto;
  background-color: white;
  overflow: hidden;
  box-sizing: border-box;
}

.calendar {
  width: 346px;
  height: 427px;
}

.calendar-header {
  background-color: #404a58;
  height: 64px;
  color: white;
  font-size: 0px;
}

.month-transition,
.date-section{
  height: 100%;
  display: inline-block;
  font-size: 17px;
}

.month-transition {
  width: 81px;
  position: relative;
}

.date-section {
  width: 184px;
  vertical-align: top;
  text-align: center;
  padding-top: 20px;
}

.calendar-main-section {
  padding: 21px 20px 20px 20px;
}

table {
  text-align: center;
  font-size: 13.96px;
  color: #666666;
  margin-left: 7px;
}

th{
  padding-bottom: 19px;
}

td {
  padding: 10px 10px 19px 10px;
  font-weight: 300;
}

td:hover {
  color: white;
  background-color: #fb6362;
  border-radius: 50%;
}

.day-another-month {
  color: #c5c5c5;
}
.holiday {
  color: #fb6362;
}

.book-form {
  width: 346px;
  height: 646px;
  color: #666666;
}

.form-button {
  width: 37px;
  height: 37px;
  background-color: #414b59;
  border-radius: 2px;
  position: absolute;
  bottom: 25px;
  right: 5px;
}

input,
select,
textarea {
  color: #999999;
  background: #f4f4f4;
  border-radius: 2px;
  border: 1px solid #ccc;
}

textarea {
  margin-top: 12px;
  resize: none;
  font-size: 14px;
}

input[type=text],
select {
  height: 46px;
}

input[type=submit] {
  background-color: #fb6362;
  border-radius: 3px;
  color: white;
  font-size: 14.98px;
  font-weight: 300;
  border:0;
  padding: 0;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  margin-bottom: 12px;
  display: inline-block;
  box-sizing: border-box;
}

.calendar input[type=submit]{
  width: 299px;
  height: 59px;
}

.check-form-wrapper input[type=submit] {
  width: 296px;
  height: 59px;
}

.mail-form  input[type=submit] {
  width: 127px;
  height: 49px;
}

.check-form-wrapper {
  position: relative;
  padding: 24px 24px 20px 24px;
  font-size: 14px;
  height: 441px;
  box-sizing: border-box;
}

.check-form-wrapper
.select-wrapper,
.input-wrapper,
.place-photo {
  position:relative;
}

.hotel-describtion {
  position: absolute;
  color: white;
  bottom: 20px;
  left: 25px;
  padding-top: 15px;
}
.hotel-describtion h2 {
  margin: 0px 0px 15px 0px;
}

.hotel-describtion span {
  font-size: 14px;
}

.check-form input[type=text]{
  margin-bottom: 20px;
}

.custom-checkbox{
  margin-bottom: 27px;
}
/*custom checkbox*/
input[type=checkbox] {
	display: none;
}

.custom-checkbox label {
  display: inline-block;
	position: relative;
  padding-left: 35px;
  padding-bottom: 10px;
}

.custom-checkbox label:before {
	content: "";
	display: inline-block;
	width: 23px;
	height: 23px;
	margin-right: 17px;
  border-radius: 2px;
	position: absolute;
	left: 0;
	bottom: 1px;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

input[type=checkbox]:checked + .lab:before {
	content: '';
  background: url(./images/tick.png) no-repeat center;
}
/*custom checkbox*/

select {
  width: 138px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  color: #414b59;
  font-weight: 300;
  font-family: Helvetica, sans-serif;
}

.select-wrapper{
  height: 200px;
}

.select-wrapper label[for="adults"],
.select-wrapper label[for=children] {
  display: block;
  margin-bottom: 12px;
}

.select-inline {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 122px;
  vertical-align: top;
}

.select-absolute {
  position: absolute;
}

.select-inline:first-child{
  margin-right: 35px;
}

.select-wrapper  .form-button{
  bottom: 5px;
}

.place-wrapper {
  width: 792px;
  height: 340px;
  font-size: 0px;
}

.place-nav-bar,
.place-describtion,
.favorite-photo {
  display: inline-block;
}

.place-nav-bar {
  height: 100%;
  width: 72px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #404a58;
}

li {
  border-bottom: 1px solid black
}

li a {
  display: block;
  position: relative;
  color: #000;
  height: 113px;
  text-decoration: none;
}

li a:hover {
  background-color: #fb6362;
  color: white;
}

.place-describtion {
  height: 100%;
  width: 356px;
  display: inline-block;
  padding: 25px 25px 25px 32px;
  box-sizing: border-box;
  text-align: left;
  vertical-align: top;
  position: relative;
}

.place-describtion:after {
  display: inline-block;
  position: absolute;
  bottom: 260px;
  right: -20px;
  z-index: 1;
  content:"";
  border-top:30px solid transparent;
  border-bottom:30px solid transparent;
  border-left:30px solid white;
}

.place-describtion h4{
  color: #4d4d4d;
  font-size: 21px;
  margin: 5px 0px 16px 0px;
}

.place-describtion p {
  margin-bottom: 22px;
}

.place-describtion p>span {
  color:  #999999;
  font-size: 14px;
  font-weight: 300;
  line-height: 23.99px
}

.place-describtion a {
  text-decoration: none;
  color: #fb6362;
}

.user-activity {
  position: absolute;
  bottom: 20px;
  right: 30px;
  line-height: 42px;
  color: white;
  font-size: 17px;
  text-align: left;
}

.diagram-wrapper {
  width: 791px;
  height: 340px;
  padding: 55px 42px 60px 42px;

}

.diagram {
  height: 100%;
  position: relative;
  font-size: 12px;
  color: #666666;
}

.line {
  position: absolute;
  width: 100%;
  background-color: #eaeaea;
  height: 1px;
}

.amount-0 {
  bottom:0px;
}

.amount-20 {
  bottom:73px;
}

.amount-30 {
  bottom: 146px;
}

.line:before{
  content: attr(data-count);
  position: absolute;
  bottom: 10px;
}

.diagram-elem {
  position: absolute;
  width: 55px;
  background-color:  #fb6362;
  border-radius: 2px;
  animation: draw 1s ease-in-out;
  bottom: 0;
}

.mon {
  left: 60px;
}

.tue {
  left: 150px;
}

.wed {
  left: 240px;
}

.thu {
  left: 330px;
}

.fri {
  left: 420px;
}

.sat {
  left: 510px;
}

.sun {
  left: 600px;
}

.diagram-elem:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 1em 0;
  display: block;
  text-align: center;
  content: attr(data-day);
  word-wrap: break-word;
}

.tooltip {
  position: absolute;
  border-bottom: 1px dotted black;
  bottom: 0px;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 55px;
  height: 28px;
  background-color: #404a58;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -65px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@keyframes draw {
  0% {
    height: 0;
  }
}

.mail-wrapper {
  width: 380px;
  height: 487px;
  padding: 15px 24px 24px 24px;
  font-size: 14px;
}

.check-form,
.mail-form {
  position: relative;
  width: 100%;
  height: 100%;
}

.lower-right-but {
  position: absolute;
  right: 0;
  bottom: 0;
}

.client-email {
  position: absolute;
  background-color: #404a58;
  width: 188px;
  height: 37px;
  left: 5px;
  bottom: 16px;
  color: white;
  border-radius: 0px;
  box-sizing: border-box;
  text-align: left;
  padding-left: 8px;
  vertical-align: middle;
  line-height: 32px;
}

.sprite.sprite-remowe{
  position: absolute;
  left:170px;
  bottom: 15px;
}

.sprite.sprite-pin-info,
.sprite.sprite-add-copy {
  position: absolute;
  right: 15px;
  bottom: 28px;
}
