/*
Customised version of github.com/nathansmith/formalize/blob/e3e1ad83da7a25d8dc62be27da05f2a857a104e4/assets/css/_formalize.sass
To avoid excessive overwrites we've removed some advanced styling and formatting, leaving primarily resets
We've also removed declarations for <button />s (not supported by CMS platform) and input[type=radio]s (using a custom approach)
*/
// Note: This file is dependent on Sass and Compass.
// Sass = http://sass-lang.com
// Compass = http://compass-style.org

//-----------------------------------
// Remove vendor-specifics for UI consistency

input[type="search"]::-webkit-search-decoration {
  display: none;
}


//-----------------------------------
// Defaults

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {

  @include box-sizing(border-box);
  @include background-clip(padding-box);
  @include border-radius(0);
  -webkit-appearance: none;
  outline: 0;
  margin: 0;

}


//-----------------------------------
// Submit buttons

input[type="submit"] {

  -webkit-appearance: none;
  @include background-clip(padding-box);
  cursor: pointer;
  @include inline-block;
  outline: 0;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: auto;
  @include font-weight(400);
  // Kill phantom spacing and dotted
  // border that appears in Firefox.
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

}



//-----------------------------------
// <textarea />s

textarea {
  min-height: 100px;
  height: auto;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

//-----------------------------------
// <select />s
// note: this rendering is a fallback for browsers that dont get re-rendered with our jQuery plugin

select {
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  max-width: 90% !important;
}

select[size],
select[multiple] {
  height: auto;
}
// Set height back to normal,
// for Opera, WebKit, and IE.
select[size="0"],
select[size="1"] {
  height: 1.8em;
  // IE7
  *height: auto;
}

// Tweaks for Safari + Chrome.
@media (#{-webkit-min-device-pixel-ratio}: #{0}) {

  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }
  select,
  select[size="0"],
  select[size="1"] {
    height: auto;
    background-image: image-url('formalize-select-arrow.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding: 9px 20px 6px 8px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    @include font-weight(300);
    @include font-size(1.5);
    color: #888;
  }
}
// Re-apply arrow control to iOS, which ignores the size attribute of <select> elements
.is-ios,
.is-android {
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: image-url('formalize-select-arrow.png');
  }
}
optgroup {
  color: black;
  font-style: normal;
  // Font family repeated, for Firefox.
  @include font-weight(300);
  // Kill phantom spacing and dotted
  // border that appears in Firefox.
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}


//-----------------------------------
// :focus states

input,
select,
textarea {
  // Suppress red glow that Firefox
  // adds to form fields by default.
  &:invalid {
    @include box-shadow(none);
  }
  // Add blue glow.
  &:focus {
    @include box-shadow(#0066ff 0 0 5px 0);
    // for Opera
    z-index: 1;
  }
}

input[type="file"],
input[type="checkbox"] {
  &:focus,
  &:active {
    @include box-shadow(none);
  }
}


//-----------------------------------
// 'Disabled' states

input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled]{
  @include box-shadow(none);
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #999;
  cursor: default;
}


//-----------------------------------
// HTML5 placeholder text

// Separate rule for Firefox.
// Separate rule for IE, too.
// Cannot stack with WebKits.
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
  @include font-size(1.5);
  line-height: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999;
  @include font-size(1.5);
  line-height: 1;
}

input.placeholder_text,
textarea.placeholder_text {
  color: #999;
  @include font-size(1.5);
  line-height: 1;
}


//-----------------------------------
// Helpers

// Added via JS to <textarea> and class="input-full".
// Applies only to IE7. Other browsers dont need it.
.input_full_wrap {
  display: block;
  padding-right: 8px;
}

