/*
-----------------------------------------------------
CSS file for Holland & Barrett
Media: ALL THE THINGS

Table of contents (WIP)
-----------------------------------------------------

A) NORMALIZE ALL THE THINGS
B) Constants (colours, font stuff)
C) Layout
D) Typography
E) Headings
F) Navigation
G) Forms
H) Figures & Images
I) Page Specific Elements
J) Helpers
K) Print Style Sheet (H5BP generic)

The Rulez - Where and How to write your CSS
-----------------------------------------------------

*** Write the CSS using tab indentation. Like This

.example {
    color: #fff;
    font-family: Georgia, "Times New Roman", serif;
      @include font-weight(600);
    height: 300px;
    left: 50px;
    line-height: 20px;
    position: relative;
    top: 20px;
    width: 300px;
    z-index: 9;
}

*** Indent any CSS changes for quick error finding. Like this -

.example {
    color: #fff;
    font-family: Georgia, "Times New Roman", serif;
      @include font-weight(600);
    height: 300px;
left: 45px;
    line-height: 20px;
    position: relative;
    top: 20px;
    width: 300px;
    z-index: 9;
}

*** Write all CSS rules alphabetically. This will aid quick error finding avoiding something like this -

.example {
    color: #fff;
    font-family: Georgia, "Times New Roman", serif;
      @include font-weight(600);
    height: 300px;
    left: 50px;
    left: 30px;
    line-height: 20px;
    position: relative;
    top: 20px;
    width: 300px;
    z-index: 9;
}

Compiling
-----------------------------------------------------

Keep ALL THE COMMENTS for development but minimize the heck out of this for production

CSS Class/ID Naming conventions
-----------------------------------------------------

Use hypens only

.large-class-name == good
.large_class_name == bad
.largeClassName   == bad
.largeclassname   == bad


CSS Commenting
-----------------------------------------------------

Comment your code with these helpers -


/* =============================================================================
   Major Section
   ========================================================================== */

/*=====================================
  Mid-level Section
*/

/*-----------------
  Minor Section
*/

/* Explanation
*/

/* @TODO: Flag for attention
*/

/* @TODO: @name: Flag for a particular person's attention
*/

// Sass/SCSS ONLY comments to be written like this


require 'toolkit'{
}



/* =============================================================================
   Compass/SASS goodies
   ========================================================================== */

@import "compass/css3";
@import "partials/settings";


/* =============================================================================
   Normalize
   ========================================================================== */

@import "partials/normalize";


/* =============================================================================
   Formalize
   ========================================================================== */

@import "partials/formalize";


/* =============================================================================
   Layout system
   ========================================================================== */

@import "partials/layout";


/* =============================================================================
   Minimal base styles
   ========================================================================== */

@import "partials/base";


/* =============================================================================
   Modules
   ========================================================================== */

@import "partials/modules";

/* =============================================================================
   Aisle 7
   ========================================================================== */

@import "partials/aisle7";

/* =============================================================================
   Helpers
   ========================================================================== */

@import "partials/helpers";


/* =============================================================================
     Helpers for IE 8 and below
     ========================================================================== */

@import "partials/ie";