@import url("payPage.css");

/* ****************************************************************************

   NOTE: If a Maestro card has been selected, serve cutsomPayPageMaestro.css
         instead of this file

   *****************************************************************************/

html, body, #paypage {
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tooltip {
	left: 290px;
	top: initial;
	width: 30%;
	height: 0;
	margin: 0;
}

.tooltipText {
	position: absolute;
	background: none;
	padding: 0;
	min-height: auto;
}

.tooltipBottom, #cscImage {
	display: none;
}

.formLabel#startLabelPanel,
#startMonth,
#startYear {
	display: none !important;
}

#billingAddressHeader2,
#billingAddressPanel {
	display: none !important;
}

body {
	background: transparent;
	margin: 0;
	line-height: 1.35;
	text-shadow: 0 1px 1px white;
	font-size: 15px;
}

body, input, select {
	color: #333 !important;
	font-family: Helvetica, Arial, sans-serif !important;
}

select {font-size: 14px;}

br {display: none;}
a {color: #df5840 !important; text-decoration: underline;}
a:hover {color: #df5840 !important; text-decoration: none;}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

legend {
	margin-left: -250px;
	padding: 10px 250px 10px 0;
	display: block;
	color: inherit;
	border: 0;
	font-weight: bold;
	font-size: 17px;
	line-height: 24px;
	border-bottom: 1px solid lightgrey;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#closeCSCIcon:focus{
	outline: 0;
}

#paypage {
	padding: 30px;
	margin: 0;
	background: #e7e7e7;
	background: rgba(51, 51, 51, 0.05);
}

#paypageHeading h1 {
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	text-align: left;
	padding-bottom: 10px;
	border-bottom: 1px solid #d3d3d3;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo,
#logo,
#companyLogo,
#closeCSCLink,
#storeName {display: none;}

.title {
	display: block;
	color: inherit;
	margin: 0;
	border: 0;
	font-weight: bold;
	font-size: 21px;
	line-height: 24px;
	padding: 10px 0 !important;
	border-bottom: 1px solid lightgrey; border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

form {display: none;}

form#cardEntryForm {
	display: block;
	overflow: hidden;
	padding: 0;
	margin: 0;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;
	width: auto !important;
}

#messagePanel .errorText,
#mainErrorDiv,
#mainSessionTimeoutDiv {
	font-size: 16px;
	display: block;
	padding: 15px;
	background: #FFF;
	border: 3px solid #d81c1c;
	margin: 0;
	color: #d81c1c;
}

#messagePanel {
	padding: 0;
	border: none;
}

#headerText {
	font-size: 21px;
	line-height: 24px;
	margin: 5px 0 15px;
	padding: 0;
	font-family: inherit;
}

#subheadertext,
#detail {
	margin: 10px 0;
}

#purchaseDetailsPanel,
#paymentDetailsPanel {
	overflow: hidden;
	margin: 5px 0 0 0;
	padding: 10px 0 5px 250px;
}

#cardNumberLabelPanel,
#cscLabelPanel {
	margin:10px 0 0 -250px;
}

#cscSection {
	padding: 10px 0;
}

.formLabel {
	font-size: 15px;
	width: 220px;
	float: left;
	clear: left;
	text-align: right;
	font-weight: normal;
	margin: 0 0 0 -250px;
	padding: 0;
}

.formLabel#expiryLabelPanel,
.formLabel#startLabelPanel {margin-top: 10px;}

.formLabel span {display: none;}

#amountLabel,
#amount {
	margin-top: 10px;
}

#expiryLabel {
	display: block;
}

#goodsLabel,
#goods,
#customerAddressPanel {display: none;}

.bodyText {
	float: left;
	font-size: 15px;
	margin: 0;
	font-family: inherit;
	color: inherit;
}

#cscDialog {
	top: 0!important;
	left: 0!important;
	width: 100%!important;
	height: 100%;
	background: rgba(0, 0, 0);
	background: rgba(0, 0, 0, 0.1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000, endColorstr=#19000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000, endColorstr=#19000000)";
}

#cscDialogContent {
	width: 500px;
	height: 195px;
	margin-top: 60px;
	border: 1px #e5e5e4 solid;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;
}

#cscIframe {height: 100%; border: none !important;}

#cscDialogBody {margin: 15px 15px 0;}

#cscText.bodyText,
#cscDialogTitle {
	float: none;
	display: block;
	margin: 0 0 10px;
	font-size: 15px;
}

#cscDialogTitle {
	margin-top: 10px;
}

#cscDialogTitle,
#cscDescriptionBody {
	padding-left: 10px;
	padding-right: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

#cscRightImage {display: none;}

#cscBottomImage {
	margin: 0;
	background-image: url("../images/cscLocation-2.png");
	width: 137px;
	height: 80px;
}

.description, .tooltip, .dateDropDownLabel, #submitHelp  {
	display: none;
}

.formInput {
	display: block;
	margin: 0;
	width: auto !important;
	border: 1px solid #c4c4c4 !important;
}

input.formInput {
	font-size: 15px !important;
	width: 50%;
	border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 5px 0 inset; -webkit-box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 5px 0 inset; -moz-box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 5px 0 inset;
	padding: 10px 10px 6px;
}

select.formInput {
	height: 35px;
	margin-right: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 9px 10px 7px;
}

input#cardNumber {width: 170px !important;}

input#csc {width: 63px !important; display: inline-block; margin: 0 12px 0 0;}

input#issue {width: 30px !important;}

select#expiryMonth,
select#startMonth {float: left;}

select#expiryYear,
select#startYear {
	display: block;
	margin-top: 15px;
}

#cscDescLink,
#ifAvailable {
	display: inline-block;
	font-size: 100%;
	margin: 19px 0 0 0;
	*position: relative;
	*top: -15px;
}

#cscDescLink .linkText {
	margin: 0 !important;
	font-size: .625em !important;
	font-family: inherit;
}

#issueLabelPanel,
#issueField {display: none;}

#commands {
	clear: both;
	margin: 0 0 0 250px;
	*margin-left: 125px;
	overflow: hidden;
	width: auto;
	padding: 0 0 20px;
}

.submitButton:hover:enabled,.cancelButton:hover:enabled,.resetButton:hover:enabled,.forceButton:hover:enabled {
	background-image: linear-gradient(bottom,#f5a30d 0,#ffd786 82%)!important;
	background-image: -moz-linear-gradient(bottom,#f5a30d 0,#ffd786 82%)!important;
	background-image: -ms-linear-gradient(bottom,#f5a30d 0,#ffd786 82%)!important;
	background-image: -o-linear-gradient(bottom,#f5a30d 0,#ffd786 82%)!important;
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#f5a30d),color-stop(0.82,#ffd786))!important;
	background-image: -webkit-linear-gradient(bottom,#f5a30d 0,#ffd786 82%)!important;
	box-shadow: none;
	color: #049!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD786',endColorstr='#F5A30D');
	moz-box-shadow: none;
	moz-transition-duration: .3s,0.3s;
	moz-transition-property: box-shadow,top;
	position: relative;
	top: 2px;
	transition-duration: .3s,0.3s;
	transition-property: box-shadow,top;
	webkit-box-shadow: none;
	webkit-transition-duration: .3s,0.3s;
	webkit-transition-property: box-shadow,top;
}

.submitButton:active,.cancelButton:active,.resetButton:active,.forceButton:active {
	box-shadow: none;
	moz-box-shadow: none;
	position: static;
	webkit-box-shadow: none;
}

.submitButton,
.submitButton:hover {
	float: left;
	width: auto;
	font-weight: normal;
	margin: 0;
	padding:12px 50px 10px !important;
	border: 1px solid #c56b31 !important;
	background-color: #d57434 !important;
	background-image: none; /* Override a background image coming from an earlier stylesheet */
	background-image: linear-gradient(top, #ed813a 0%, #be672e 100%) !important;
	background-image: -o-linear-gradient(top, #ed813a 0, #be672e 100%) !important;
	background-image: -moz-linear-gradient(top, #ed813a 0, #be672e 100%) !important;
	background-image: -webkit-linear-gradient(top, #ed813a 0, #be672e 100%) !important;
	background-image: -ms-linear-gradient(top, #ed813a 0, #be672e 100%) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed813a', endColorstr='#be672e');
	text-shadow: #ca6e32 0 -1px 0 !important;
	text-shadow: rgba(0, 0, 0, 0.1) 0 -1px 0 !important;
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 1px 2px 3px 0, #ffb364 0 2px 2px 0 inset !important;
	-moz-box-shadow: rgba(0, 0, 0, 0.25) 1px 2px 3px 0, #ffb364 0 2px 2px 0 inset !important;
	box-shadow: rgba(0, 0, 0, 0.25) 1px 2px 3px 0, #ffb364 0 2px 2px 0 inset !important;
	font-size: 19px !important;
	line-height: 1;
	text-align: center;
	color: #fff !important;
	text-shadow:#b65900 0 -1px 0 !important;
	text-shadow:rgba(0,0,0,0.25) 0 -1px 0; !important
cursor: pointer;
	vertical-align: middle;
	zoom: 1;
	width: auto;
	-webkit-appearance: none;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	-ms-border-radius: 4px !important;
	-o-border-radius: 4px !important;
	border-radius: 4px !important;
}

.submitButton:active {
	background-color: #d57434 !important;
	background-image: linear-gradient(top, #be672e 0%, #ed813a 100%) !important;
	background-image: -o-linear-gradient(top, #be672e 0, #ed813a 100%) !important;
	background-image: -moz-linear-gradient(top, #be672e 0, #ed813a 100%) !important;
	background-image: -webkit-linear-gradient(top, #be672e 0, #ed813a 100%) !important;
	background-image: -ms-linear-gradient(top, #be672e 0, #ed813a 100%) !important;
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 1px 2px 3px 0, #ffb364 0 -2px 2px 0 inset !important;
	-moz-box-shadow: rgba(0, 0, 0, 0.25) 1px 2px 3px 0, #ffb364 0 -2px 2px 0 inset !important;
	box-shadow: rgba(0, 0, 0, 0.25) 1px 2px 3px 0, #ffb364 0 -2px 2px 0 inset !important;
}

.cancelButton,
.resetButton,
.cancelButton:hover,
.resetButton:hover {
	font-size: 100% !important;
	float: right;
	background: none !important;
	border: 0 !important;
	margin: 8px 0 0;
	padding: 0;
	-webkit-border-radius: 0; -khtml-border-radius: 0; border-radius: 0;
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}

.cancelButton:hover,
.resetButton:hover {text-decoration: underline;}

.cancelButton {
	display: none;
}

#footer {display: none;}

.bodyStyle {
	margin: 0;
	width: auto;
}

#textPanel {display: none;}

#waitPanel, .tooltipBottom {
	display: none;
}

#waitPanelCDiv {
	top: 50% !important;
	left: 50% !important;
	margin-left: -52px;
	margin-top: -43px;
}

#waitPanelContentDiv,
#progressSpinnerImage {
	background-color: #fff;
	padding: 15px;
	border: 1px #e5e5e4 solid;
	-webkit-box-shadow: rgba(0, 0, 0, 0.09) 4px 4px 4px 0px; -moz-box-shadow: rgba(0, 0, 0, 0.09) 4px 4px 4px 0px; box-shadow: rgba(0, 0, 0, 0.09) 4px 4px 4px 0px;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;
}

#progressText {font-family: inherit;}
#waitPanelContentDiv {
	width: auto !important;
	height: auto !important;
}

#progressSpinnerImage {
	margin-top: 200px;
}

#billingAddressHeader1 {
	display: none;
}

#overlay, #errorIcon, #progressIgnore {
	display: none!important;
}

#waitPanel {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	background: rgba(0, 0, 0, 0.1);
	background: rgba(0, 0, 0, 0.1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000, endColorstr=#19000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000, endColorstr=#19000000)";
}

#timerPanel {
	width: 100%!important;
	height: 100%!important;
	border: none!important;
	border-spacing: 0!important;
}

#timerPanel #progressSpinnerImage {
	margin-top: 0;
}

@media screen and (max-width: 300px) {
	#paypage {
		padding: 20px;
	}
	legend {
		margin-left: 0;
		padding: 10px 0;
	}

	select#expiryLabelPanel,
	select#expiryYear {
		float: left;
		margin: 0;
	}

	#purchaseDetailsPanel, #paymentDetailsPanel {
		margin: 0;
		padding: 0;
	}

	#cscSection {
		display: block;
		float: left;
		padding: 0 0 10px;
	}

	#cardNumberLabelPanel, #cscLabelPanel, .formLabel {
		margin: 10px 0 0.2em 0;
		text-align: left;
	}

	#amountLabel {
		width: auto;
	}

	#amount {
		margin: 10px 0 0.2em 0;
		float: right;
	}

	input#cardNumber {
		width: 90%!important;
	}

	#commands {
		margin: 0;
	}

	.submitButton, .submitButton:hover {
		width: 98%;
	}

	#cscDialogContent {
		width: 260px!important;
		height: 235px;
	}

	#startLabelPanel.formLabel {display: none;}

	input.formInput {
		clear: both;
	}
}