.s-basket {

  dl,dd {
    margin: 0;
  }
  dt {
    clear: left;
  }
  ins {
      @include font-weight(600);
    text-decoration: none;
  }
  del {
    text-decoration: line-through;
    margin-left: 0.5em;
    color: #AAA;
  }
  &,p {
    font-size: 14px;
  }
  input[type=text],
  input[type=number] {
    @extend %prettyTextInput;
  }
  em {
    font-style: normal;
  }
}
.basket-header {

  h2, span {
    @include font-size(1.8);
    @include font-weight(400);

    small {
      @include font-size(1.2);
      display: block;
    }
    a {
      color: $orange;
    }

  }

}

.line-total {
  @include font-size(2.1);
    @include font-weight(500);
}
.act-remove {
  color: $orange;
  @include font-size(1.3);
}
.basket-product {
  padding: 20px 0;
  border-bottom: #ececec;
  border-bottom: 1px solid rgba(51,51,51,0.05);

  &.is-zero {

    .img {
      opacity: 0.5;
    }
    .product,
    .prod-title,
    .product .save-later a,
    .line-total,
    small span {
      color: #bbb;
    }

  }

  dl {
    margin: 0;
  }
  h3,
  .block h3 {
    @include font-size(1.8);
    line-height: 1.2;
    margin: 0 0 0.3em 0;
    @include font-weight(400);
    color: $green;

    a {
      color: $green;
    }
  }
  .product {
    position: relative;

    h3,
    p,
    small {
      margin-left: 130px;
    }
    p,
    small {
      @include font-size(1.4);
    }
    div.img {
      background: #FFF;
      padding: 5px 0;
      @include box-shadow(rgba(0,0,0,0.1) 2px 4px 5px 0);
      float: left;
      width: 110px;
      text-align: center;

      img {
        display: inline;
        max-width: 90%;
      }
    }
    abbr,span,small {
      display: block;
    }
    span {
      color: #999;
    }
    .save-later {
      margin-top: 10px;

      a {
        color: $orange;
        @include font-size(1.2);
      }

    }

  }

  /* align everything against the image */
  .line-total {
    float: left;
    margin: 9px 0 10px 10px;
    padding: 0;
    @media screen and (max-width: 767px) {
      margin-left: 0;
    }
  }
  .act-remove {
    @include inline-block;
    margin: 0 0 0 8px;

    @media print, screen and (min-width: 768px) and (max-width: 1100px) {
      display: block;
      margin: 10px 0 0;
    }

  }
  .quantity {
    margin: 0;
    padding: 0;

    @media screen and (max-width: 768px) {
      padding-top: 10px;
    }

    button {
      @include inline-block;
      margin: 0 0 1px;
      line-height: 1;
      padding: 9px 15px 8px;
    }
    input {
      margin: 0 5px;
      width: 3em;
      @include inline-block;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

    }
    @media screen and (max-width: 767px) {
      clear: both;
    }
    .quantity-wrapper {
      float: left;
      width: auto;
      margin: 0 0 10px 0;
    }
    em {
      clear: left;
      color: #999;
      @include font-size(1.2);
      display: block;
    }
    em.error {
      color: $errorRed;
      @include font-size(1.5);
      font-style: italic;
      margin-top: 5px;
    }
  }
  .repeat {
    text-align: right;
    clear: left;
  }
  .ico-wait {
    background: #F00;
  }

  span.offer {
    @include inline-block;
    margin: -3px 0 0 4px;
    @include font-size(1.3);
      @include font-weight(300);

    span.lozenge {
      @include lozenge;
      @include inline-block;
      margin: 5px 0;
      padding: 4px;
      @include font-size(1.2);
    }
    em {
      font-size: 1.08em;
      line-height: 1.5em;
    }
  }

  .stock-warning {
    padding-left: 30px;
    position: relative;
      @include font-weight(400);
    font-size: 12px;

    span {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $magenta;
    }
    strong {
      display: block;
        @include font-weight(500);
      font-size: 13px;
      text-transform: uppercase;
      text-align: left;
    }
    a {
      color: $orange;
    }
  }

  /* for large viewport devices, undo most of the above */
  @include respond-wrapper-fallback(tablet, lt-ie9) {

    .quantity {
      float: left;
      margin: 0;
    }
    .line-total {
      padding: 0;

      del {
        font-size: 0.82em;
      }

    }
    .repeat {
      clear: none;
      text-align: left;
      color: #555;
      font-size: 1.14em;
    }

    span.offer {
      display: block;
      margin: 0;
    }
  }
}
.no-js {
  .act-remove {
    display: none;
  }
}
.lt-ie9 {
  .basket-product .quantity {
    padding-top: 0;
  }
}
.lt-ie8 {
  .basket-product .quantity {
      input {
        float: left;
        width: 1.5em;
      }
      button {
        float: left;
        padding: 0;
        width: 35px;
        height: 35px;
      }

  }
  .basket-product .line-total {
    padding-top: 0;
  }
}

.basket-segment {
  margin-top: 5px;
  border-top: 5px solid #ececec;
  border-top: 5px solid rgba(51,51,51,0.05);

  .offer-notice {

    h3, p {
      margin: 0;
      @include font-size(1.5);
      line-height: 1;
        @include font-weight(300);
      text-shadow: none;
    }
    h3 {
        @include font-weight(500);
      margin: 0 0 4px;
    }
    &.boxout {
      border: 3px solid $border-offer;
      background: #fff;
      margin: 0 0 20px 0;
      padding: 20px;

      a {
        color: $green;
          @include font-weight(500);
      }

    }

  }

  header {
    margin: 20px 0 0;
    padding: 8px 10px;
    @include border-radius(5px);
    color: #FFF;
    background: #b8b8b8;

    h3 {
      text-transform: uppercase;
      @include font-weight(400);
    }

  }

  &.basket-segment-special header {
    background: $magenta;
  }
}


.basket-discount-wrapper {
  margin: 0;
  padding: 10px;
  background: #ececec;
  background: rgba(51,51,51,0.05);

  h2,
  .pseudo-label {
    margin: 0;
    @include font-size(1.6);
    line-height: 32px;
      @include font-weight(500);
    text-align: left;

    a {
      color: $green;
    }

  }
  input {
    margin: 0 8px 8px 0;

    @include respond-wrapper-fallback(tablet, lt-ie9) {
      &[type=text] {
        width: 184px;
      }
    }

  }
  ul {
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
  }
  .act-remove {
    float: right;
    padding-right: 30px;
  }
  .discount-form-wrapper-voucher {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 767px) {
    .discount-desc {
      @include ruleAbove;
    }
  }


}

.basket-totals {
  margin: 0 0 20px;
  border-bottom: 5px solid #ececec;
  border-bottom: 5px solid rgba(51,51,51,0.05);
  position: relative;

  .masq {
    background: rgba(0,0,0,0.15);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  dt {
    @include ruleAbove;
  }
  dd {
    &.basket-abs-total {
      font-size: 1.93em;
        @include font-weight(500);
      line-height: 1;

      small {
        @include font-size(1.4);
          @include font-weight(300);
        display: block;
        line-height: 1em;
        color: #999;

        em {
          font-style: normal;
        }

      }
      .trigger {
        cursor: pointer;
        color: $orange;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
    &.basket-shipping {
      line-height: 1.3em;
      margin: 10px 0 0;

      small,span {
      }
      small {
        font-size: 1em;
      }
      span {
        display: block;
        @include font-size(1.4);
        color: #999;
      }
    }
    &.basket-sub-total,
    &.basket-total-discount {
      @include font-size(2.1);
        @include font-weight(500);
      line-height: 1em;
    }
    &.basket-total-discount {
      color: $magenta;
    }
  }
  .basket-abs-total {
    font-size: 1.29em;
    line-height: 1.93em;
  }
  @media screen and (max-width: 767px) {
    dt.basket-abs-total {
      padding-top: 10px;
    }
    dd.basket-abs-total {
      padding-bottom: 14px;

      small {
        display: block;
        margin-top: 4px;
      }
    }
  }
  .basket-sub-total {
    line-height: 1.5em;
  }
  .basket-total-discount em {
    color: $magenta;
      @include font-weight(600);
  }
  .basket-rewards {
    ul {
      padding: 0 0 0 1.5em;
    }
  }
}

.lt-ie8 {
    .basket-totals {
        dt {
          margin-left: 0;
        }
        .l-one-quarter {
          width: 23.1%;
        }
        dd {
          margin-right: 0;

          &.basket-shipping {
            margin-left: 20px;
          }

        }
    }
}

.no-opacity{

  .basket-totals .masq {
    background: url(img/_fallbacks/black_10pc.png);
  }

}


/* save later */
.basket-save-later {
  margin-top: 40px;

  header {
    text-align: right;
    border-bottom: 5px solid #ececec;
    border-bottom: 5px solid rgba(51,51,51,0.05);
    padding-bottom: 20px;

    h2 {
      float: left;
    }

  }
  .prod-submit {
    float: right;

    .ico-basket-add {
      position: absolute;
      top: 10px;
      left: 8px;
    }

  }

}

/* overlays used in basket */
.basket-info-overlay  {
  position: absolute;
  background: #FFF;
  border: 1px solid #e5e5e5;
  @include border-radius(2px);
  padding: 30px;
  @include box-shadow(rgba(0,0,0,0.09) 2px 5px 5px 0);

  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    overflow: hidden;
    text-indent: -100px;
  }

}
.s-basket-empty {
  padding: 50px 0;

  p {
    font-size: 21px; text-align: center;
  }

}


/* Desktop adjustments/enhancements
*/
.f-basket {

  @include respond-wrapper-fallback(tablet, lt-ie9) {

    .basket-discount-wrapper {

      ul {
        margin: 20px -20px 0;
      }
          .discount-desc {
            text-align: right;
          }
      h2,
      .pseudo-label {
        float: left;
        margin: 0 1em 0 0;
      }
      input {
        margin-bottom: 0;
      }

    }
    .basket-discounts,
    .basket-totals {

      dt {
        text-align: right;
      }

    }
    .basket-totals {
      dt,dd {
        padding-bottom: 20px;
        @include ruleAbove;
      }
      dd {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .basket-abs-total {
        border-top-width: 5px;
      }

    }
    .basket-rewards {
      width: 38%;
      float: right;
    }
    strong {
      text-align: right;
    }
    li {
      border-top: 1px solid #ececec;
      border-top: 1px solid rgba(51,51,51,0.05);
      margin: 0;
    }
    dd {
      line-height: 1.5em;
      padding-top: 20px;
      padding-bottom: 20px;

      &.l-two-fifths {
        font-size: 1.5em;
        line-height: 1em;
          @include font-weight(500);
      }

      &.prod-submit {
        padding-top: 0;
      }

    }
    .basket-segment {

      .offer-notice {
        text-align: right;

        h3 {
          float: left;
          margin: 0;
        }

      }

    }
    .basket-buttons {

      .l-two-thirds {
        text-align: right;
      }

    }

  }

}

@media screen and (max-width: 767px) {

  .basket-buttons {
    margin: -10px 0 10px;

    .update-basket { margin: 5px 0 12px; }

  }//.basket-buttons

}
