/*-------------------------------------
  Buttons
*/

// Buton mixins are defined in _settings.scss, so they can be used elsewhere (eg. in masthead css)

a.button,
button, /* currently only used where inserted via JS */
input[type=button].button,
input[type=submit] {

  /* Default button is green */
  @extend %greenButton;
  /* Key calls to action are orange   */
  &.orangeSubmit {
    @extend %orangeSubmit;
  }

}
input[type=button].button,
input[type=submit] {
  line-height: 1;
  padding: 7px 15px 8px;
}
.li-ie8 input[type=button].button,
.li-ie8 input[type="submit"] {
  @include inlineBlock;
  padding-top: 4px;
  padding-bottom: 5px;
}

/* Wrapper for button layouts
*/
.buttons {

  input[type=submit],
  input.submit {
    display: block;
    text-align: center;
    width: 100%;

    @include respond-wrapper-fallback(tablet, lt-ie9) {
      @include inline-block;
      width: auto;
      padding-left: 30px;
      padding-right: 30px;
    }

  }

}


.lt-ie8 {
  a.button,
  button,
  input[type=submit] {
    border: 0;
    padding: 8px 8px 7px;
  }
  input[type=submit] {
    padding-left: 0;
    padding-right: 0;
  }

    .buttons {

      input[type=submit],
      input.submit {
      padding-left: 0;
      padding-right: 0;
      }

    }

}


/*-----------------
  Error messaging
*/

section.form-errors {
  font-size: 16px;
  padding: 30px;
  background: #FFF;
  border: 3px solid $errorRed;
  margin: 0 0 30px 0;

  strong {
      @include font-weight(400);
  }
  h2,em {
    color: $errorRed;
    font-style: normal;
  }
  li li {
    color: #c1c1c1;
  }
  ul {
    margin: 0;
    list-style: none outside;
    padding: 0;

    ul {
      color: #c1c1c1;
      list-style: disc outside;
      margin: 0 0 0.5em 1.5em;
    }

  }

}
