/**
 Carousels
*/

/* CSS-only carousels -- only really useful for mobiles */
ul.mobile-carousel {
  position: relative;
  overflow: hidden;
  list-style: none outside;
  margin: 0;
  padding: 0;

  > li {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    @include transform(translate3d(0,0,0));
    @include transition(transform 0.3s ease-in-out);
    background: transparent none center center no-repeat;

    /*
        these are the classes that actually provide the carousel-like functionality:
        - out-left: the element is offscreen to the left
        - out-right: the element is offscreen to the right

        Obviously, you will need to set the translate X value to whatever the width of the carousel is… it’s set to
        300px here just as a baseline…
    */
    &.out-left  { @include transform(translate3d(-300px, 0, 0)); }
    &.out-right { @include transform(translate3d(300px, 0, 0)); }
  }
}



/* Product teasers collapsed into a carousel for 320 view
*/
.is-carousel {

  @media screen and (max-width: 767px) {

    &.prod-teaser-block {
      margin: 0 0 10px;
    }

    .prod-teaser-items {
      position: relative;
    }

    .mobile-carousel {

      &,
      & > li {
        // Risk: fixed height on carousels
        height: 400px;
        width: 300px;
      }

    }

  }

}
.mobile-pips {

  $pip-size: 16px;
  margin: -18px 0 10px;
  padding: 0;
  text-align: center;

  li {
    @include inline-block;
    margin: 0 6px 6px 0;

    @include font-size(1.6);
    width: $pip-size;
    height: $pip-size;
    @include border-radius($pip-size);
    text-indent: -999em;
    background: #999;

    &.current {
      background: #ccc;
    }
    &:first-child {
      margin-left: 0;
    }

  }

}
.mobile-carousel-nav {
  margin: 0;
  padding: 0;

  li {
    margin: 0; padding: 15px 10px;
    list-style: none; cursor: pointer;
    position: absolute; top: 24%; z-index: 500;

    span {
      display: block; width: 26px; height: 39px;
      background: url(img/icons/icon-sprite.png);
      text-indent: -999em;
    }

    &.lnk-prev {
      left: 0;
      span { background-position: -28px -82px; }
    }
    &.lnk-next {
      right: 0;
      span { background-position: -67px -82px; }
    }
    &.lnk-disabled span { background-image: none; }

  }//li

}//.mobile-carousel-nav

