@mixin desktop-voucher {
  padding: 0;
  border: 0;
  height: image-height('voucher-638.jpg');
  position: relative;
  overflow: hidden;

  .voucher-summary {
    white-space: nowrap;
  }

  .voucher-content,
  .voucher-image {
    position: absolute;
    top: 0;
    left: 0;
  }

  .voucher-content {
    z-index: 2;
  }

  .voucher-image {
    z-index: 1;
    display: block;
  }

  p {
    padding: 0 30px;
  }
  .print-link {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 260px;

  }
  .voucher-user {
    padding: 100px 0 0 30px;
  }
  .voucher-offer {
    display: inline;
  }
}
