/*-------------------------------------
  Search results
*/

.prod-results-summary {

  @media only screen and (max-width: 767px) {

    .page-title {
      font-size: 14px;
    }
    i {
        display: block;
    }

  }

}
.prod-filters {

  position: relative;

  label {
    display: block;
    position: relative;
    margin: 6px 0 0;
    padding-left: 24px;
    @include font-size(1.6);

    input {
      position: absolute;
      left: 0;
    }

  }
  .prod-rating {
    @include inline-block;
    margin-top: 0;
  }

  &.is-disabled {
    color: $mid-grey;

    label:hover {
      cursor: default;
    }
    .prod-rating,
    input {
      opacity: 0.5;
    }

  }

}
.lt-ie9 {

  .prod-filters.is-disabled {

    .prod-rating,
    input {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    }

  }

}
.js.lt-ie8 {

  .prod-filters {

    .bt {
      display: none;
    }

  }

}


.prod-filter-title {
  padding-right: 24px;
}
.filter-clear-all {
  position: absolute;
  right: 0;
  top: 2px;
  line-height: 0;
  width: 20px;
  height: 20px;
  background: url(img/icons/icon-sprite.png) 0 0 no-repeat;
  text-indent: -9999em;
}
.filter-set {
  border: 0;
  padding: 0;
}
.filter-set-title {


}
.filter-group-title {
  margin: 20px 0 0;
  padding: 20px 0 0;
  border-top: 5px #e5e5e4 solid;
  @include font-size(1.6);
    @include font-weight(500);
}

.js {

  .prod-filters {

    @media print, screen and (min-width: 768px) {

      [type=submit] {
        display: none;
      }

    }

  }

  // repeat for old IEs, becuase they cant grok media queries
  &.lt-ie9 {

    .prod-filters {

      [type=submit] {
        display: none;
      }

    }

  }

}

.prod-results-teaser-block {
}
.prod-results-footer {

  @include respond-wrapper-fallback(tablet, lt-ie9) {
    margin: 30px 0 0 80px;
  }


}
