/* Holding page 
*/
body.holding {
  background: $bg-color;  

  img {
    margin: 0 0 20px 0;
    max-width: 100%;
  }
  .boxout {


  }

  @include respond-wrapper-fallback(tablet, lt-ie9) {
    background: $bg-color url(img/body.jpg);
    
    .panel {
      margin-top: 100px;
      
      .boxout {
        overflow: hidden;
        clear: both;
      }
      img {
        float: left;
        margin-right: 20px;
      }
      
    }
     
  }

}

