/*-------------------------------------
  Icons
  Following the scalable, modular, SMACSS approach
  https://smacss.com/book/icon-module (premium content - login required)
*/
.ico {
  @include inline-block;
  line-height: 0;
  margin: 0 4px;
  background: url(img/icons/icon-sprite.png) 0 0 no-repeat;
  text-indent: -9999em;
}
.lt-ie8 {
  .ico {
    text-indent: 0;
  }
}

/* sizes */
.ico-16 { height: 16px; width: 16px; }
.ico-18 { height: 18px; width: 18px; }
.ico-20 { height: 20px; width: 20px; }

/* icons */
.ico-basket    { background-position:   0   -40px; width: 20px; height: 18px; }
.ico-basket-add  { background-position: -34px -383px; width: 22px; height: 15px; }
.ico-knockTick   { background-position: -39px   0  ; width: 15px; height: 15px; }
.ico-fav   { background-position: -20px -30px; width: 17px; height: 17px; }
.ico-favs-menu   { background-position: -20px -48px; width: 17px; height: 17px; }
.ico-cart    { background-position: -40px -368px; height: 15px; }
.ico-exclamation { background-position: -39px -33px; width: 15px; height: 14px; }
.ico-green-heart { background-position: -20px -14px;}
.ico-grey-heart  { background-position: -20px -31px;}
.ico-magenta-heart  { background-position: -20px -48px;}
.ico-image-zoom  { background-position: -40px -50px; width: 9px; height: 9px;}
.ico-email { background-position: 0 -100px; width: 20px; height: 16px;}
.ico-phone { background-position: 0 -130px; width: 20px; height: 22px; }
.ico-location-pin { background-position: -20px -130px; width: 20px; height: 22px; }
.ico-account { background-position: -40px -130px; width: 22px; height: 22px; }
.ico-header-rfl { background-position: -63px -130px; width: 22px; height: 22px; }
.ico-print {  background-position: 0px -210px; }
.ico-shipping { background-position: -22px -67px; width: 26px; height: 14px; }
.ico-caution { background-position: -33px -260px; width: 23px; height: 23px; }
.ico-warning { background-position: -35px -297px; width: 25px; height: 24px; margin: -1px 3px 0; }
.ico-info { background-position: -21px -301px; width: 10px; height: 20px; margin: 0 10px; }
.ico-tick { background-position: -81px -174px; width: 18px; height: 22px; }
.ico-expand { background-position: 0px -260px; width: 32px; height: 32px; }
.ico-collapse { background-position: 0px -350px; width: 32px; height: 32px; }
.ico-remove-item { background-position: 0 0; }
.ico-email-preview { background-position: -60px -260px; width: 32px; height: 38px; }
.ico-print-stores { background-position: 0px -300px; width: 15px; height: 20px; }
.ico-grey-cart { background-position: -38px -350px; width: 20px; height: 18px; }
.ico-basket-down { background-position: 0 -387px; width: 16px; height: 16px; }


.ico-knockTick,
.ico-exclamation { @include border-radius(8px); }

.ico-rfl-card {
  background: url(img/icons/rfl-card-icn.png) 0 0 no-repeat;
  width: 34px;
  height: 27px;
  margin-right: 8px;
}
.ico-credit-card {
  background: url(img/icons/credit-cards.png) no-repeat;
  width: 77px;
  height: 36px;

  &.ico-mastercard {
    background-position: 0px 0px;
  }
  &.ico-visa {
    background-position: 0px -78px;
  }
  &.ico-visa-debit {
    background-position: 0 -120px;
  }
  &.ico-maestro {
    background-position: 0px -42px;
  }
  &.ico-paypal {
    background-position: 0px -156px;
  }
  &.ico-visa-both {
    background-position: 0 -191px;
    width: 147px;
  }

}



.ico-twitter,
.ico-facebook {
    background-image: url('img/icons/iconSprite.png');
}

.ico-twitter {
  // the styling on this is crazy complex: we can't emulate it all in CSS3, but we'll have a bash
  @include border-radius(2px);
  border: 1px solid #347b9e;
  //@include background(linear-gradient(#4fadc5, #2f729b 75%, #4193b3));
  @include box-shadow(rgba(98,193,212,0.9) 0  0  2px 0 inset,   /* inner glow (really needs overlay blending) */
            rgba(0,0,0,0.2) 0 0 10px 0 inset,       /* fake satin */
            rgba(255,255,255,0.1) 1px 2px 1px 0 inset,  /* inner shadow */
            rgba(0,0,0,0.15) 1px 1px 1px 0);      /* drop shadow */
  background-color: #2f729b;
  background-position: -1px -58px;
}

.ico-facebook {
  // again, complex styling but let’s have fun…
  @include border-radius(2px);
  border: 1px solid #14295c;
  //@include background(linear-gradient(#3e7cca, #22429c 75%, #3264b7));
  @include box-shadow(rgba(0,0,0,0.2) 0 0 10px 0 inset,       /* fake satin */
            rgba(255,255,255,0.6) 0 0 2px 0 inset,    /* inner glow */
            rgba(255,255,255,0.1) 1px 2px 0 inset,    /* inner shadow */
            rgba(0, 0, 0, 0.15) 1px 1px 0);       /* drop shadow */
  background-color: #22429c;
  background-position: 0 -78px;
}
.lt-ie8 .ico {
  @include inlineBlock;
}



/* Set up parent of abs-positioned icons
*/
.has-icon {
  position: relative;

  .ico {
    display: block;
    position: absolute;
    top: 50%;

  }
}


/* Base class for close buttons
*/
.spritedIcon {
  display: block;
  overflow: hidden;
  text-indent: -1000px;
  background: url('img/icons/iconSprite.png') 0 0 no-repeat;
  @include single-transition(none);
}
.iconClose {
  @extend .spritedIcon;
  height: 20px;
  width: 20px;
}
