/*-------------------------------------
  Masthead
*/
[role=banner] {
  position: relative;
  z-index: 2;
  background-color: #addfe8;

  /* Unnecessary? Let header obtain height from children
  @include respond-wrapper-fallback(tablet, lt-ie9) {
    height: 200px;
  }
  */

  /*-----------------
  Utility nav (in header)
  */
  .utility-nav {

    background: #fff;
    @include font-weight(400);

    ul {
      @include simpleList;
      margin: 0;
      position: relative;
    }
    h2 {
      margin: 0;
      @include font-size(1.3);
      line-height: 16px;
    }
    .nav-item {
      margin: 0;
      padding: 13px 4px 10px;
      @include font-size(1.3);
      line-height: 16px;

      > a {
        font-weight: bold;
      }

      &.favs-nav-item,
      &.currency-nav-item {
        padding-right: 10px;
        padding-bottom: 12px;
      }
      &.favs-nav-item {
        padding-left: 10px;
      }
      &.currency-nav-item {
        padding-left: 10px;

        .current {
          color: #222;
        }
      }
      &:first-child {
        margin-left: 0;
      }
      /* Scale up/down gradually to avoid risk of wrapping */
      @include respond-wrapper-fallback(tablet, lt-ie9) {

        &.basket-nav-item {

          .ico-basket {
            float: left;
            margin: 0 4px;
          }

        }

      }
      .ico {
        margin-top: -5px;
        margin-left: 0;
        margin-right: 2px;
      }

    }
    @media screen and (max-width: 767px) {

      .basket-nav-item {
        position: absolute;
        right: 0;
        top: 0;
        @include font-weight(400);
      }
      .locator-nav-item {
        width: auto;
        margin: 0 0 20px;
        padding: 0;
        text-align: center;

        a {
          display: block;
          padding: 12px 0 10px;
          color: $text-color;
          background: #efefef;
          @include font-size(1.6);
        }

      }

    }

    @include respond-wrapper-fallback(tablet, lt-ie9) {

      h2,
      .nav-item,
      .nav-item .split {
        float: left;
      }
      ul {
        text-align: right;
      }
      .favs-nav-item,
      .basket-nav-item,
      .currency-nav-item {
        float: right;
        background-color: #edf5f5;
        border: 1px #d3e7e7 solid;
        border-width: 0 0 0 1px;
        position: relative;
      }
      .currency-nav-item {
        border-width: 0 1px 0 0;

        .show-gbp {
          display: inline-block;
        }
        .show-eur {
          display: inline-block;
          margin-left: 4px;
          padding-left: 7px;
          border-left: 1px #a8a8a8 solid;
        }
      }
      .basket-nav-item {
        border-left: 0;
        padding-right: 0;
        h2 {
          color: #000;
          margin-right: 0.7em;

          span.ico {
            margin: 0 0.8em 0 0;
          }
        }
      }

      .favs-nav-item {
        border-right-width: 1px;
        a {
          color: #000;
          min-width: 105px;

          span {
            color: $green;

            &.qty {
              margin-left: 0.5em;
            }

          }
        }
      }

      .menu-flyout {
        position: absolute;
        top: 41px;
        left: 0;
        background: #FFF;
        padding: 5px 10px;
        border: 1px #E5E5E5 solid;
        border-top: 0;
        z-index: 10;
        text-align: left;
      }

    }
    .t-basket & .basket-nav-item { display: none; } // Hide mini-basket on basket page
    .phone-nav-item {
      padding-left: 0;
    }
    .locator-nav-item,
    .login-nav-item {
      .lnk-my-account { display: inline-block; }
      .lnk-register { display: inline-block; margin-left: 3px; padding-left: 6px; border-left: 1px #a8a8a8 solid; }
    }
    a,
    .phone-link {
      color: $green;
    }

  }

  &.header-basket {
    position: relative;
    height: auto;
    border-bottom: 5px solid $green;

    .page { @include clearFix; }

    .branding {
      padding: 0;
      text-align: center;
      min-height: 153px;
    }
    h2 {
      margin: 0 0 20px;
      color: #000;
    }
    span.foot {
      /* What is this? */
      display: none;
      background: $green;
      height: 5px;
    }

    @include respond-wrapper-fallback(tablet, lt-ie9) {

      .branding {
        text-align: right;
        min-height: 101px;
      }
      h2 {
        margin: 35px 0 0;
      }

    }

  }

}
.lt-ie8 .utility-nav {
  z-index: 4;
}
.lt-ie9 .utility-nav .nav-item {
  padding-left: 4px;
  padding-right: 4px;
}

/*-----------------
  Skiplinks
*/
#skiplinks:focus {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border: 0;
  outline: none;
  padding: 0px 0 40px;
  text-align: center;
  text-shadow: none;
  z-index: 999;
  @include transition(none);

  span {
    display: block;
    margin: 0 auto;
    width: 30%;
    padding: 6px 0 8px;
    font-size: 18px;
    text-align: center;
    background: #333;
    background: rgba(0,0,0,.6);
    border: 0;
    color: #fff;
    @include border-radius(0 0 5px 5px);
    @include background-clip(padding-box);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

  }

}

/*-----------------
  Logo
*/
.branding {
  clear: both;
  background: #addfe8 url(img/masthead-mobile.gif) no-repeat 50% -4px;
  position: relative;
  z-index: 2;
  height: 146px;

  .rgba & {
    border-top: 4px solid rgba(0,0,0,0.08);
  }

  .page {
    position: relative;

    &:after {
      content: '';
      width: image-width('masthead-perching-bird.png');
      height: image-width('masthead-perching-bird.png');
      display: block;
      background: transparent url(img/masthead-perching-bird.png) no-repeat 0 0;
      position: absolute;
      bottom: -16px;
      left: -(image-width('masthead-perching-bird.png') + 30px);
    }
  }

  @include respond-wrapper-fallback(tablet,lt-ie9) {
    background-image: url(img/masthead.gif);
    background-color: transparent;
    min-height: 101px;
    height: auto;
    border-bottom: 5px solid #3a7163;

    .page {
      min-height: 96px;

      &:after {
        left: -(image-width('masthead-perching-bird.png') - 20px);
        bottom: -10px;
      }
    }
  }
}
.logotype {
  display: block;
  padding: 22px 0 10px 0;
  text-align: center;

  &:focus {
    outline: thin dotted;
  }

  img {
    @include inlineBlock;
    max-width: 100%;
  }

  @include respond-wrapper-fallback(tablet,lt-ie9) {
    float: left;
  }

  /* high-res version for retina displays */
  @media screen and (min-width: 768px) and (-webkit-min-device-pixel-radio: 2) {
    background: url('img/logotype.png'); // @todo: replace with SVG

    img {
      display: none;
    }

  }

}


/*-----------------
  Search form
*/

.search-form {
  position: relative;
  z-index: 3;

  label {
    @include inline-block;
    width: 74%;
    margin: 0 8px 0 0;
    vertical-align: middle;

    @media screen and (max-width: 300px) {
      width: 50%;
    }
  }

  input[type=search] {
    height: 44px;
    margin: 0;
    width: 100%;
    border: 0;
    color: #a8a1a1;
    @include box-shadow(0 1px 4px 0 rgba(0,0,0,0.1));
    @include font-weight(400);
    @include font-size(1.8);
  }
  input[type=submit] {
    padding: 11px 13px 8px 13px;
    text-transform: uppercase;
    @include font-size(1.8);
  }

  @include respond-wrapper-fallback(tablet, lt-ie9) {
    float: right;
    margin: 30px 0 0;

    label {
      width: auto;
    }

    input[type=search] {
      width: 235px;
    }

  }

}

.lt-ie8 {

  /* tweak button styling */
  .search-form {
    input[type=submit] {
      padding: 8px 9px 7px;
      border: 0;
    }
  }
  /* kludge to make IE7 respect z-index */
  .branding {
    padding-top: 43px;
  }
  .utility-nav {
    position: absolute;
    top: 0;
  }
}

/* Search autocomplete
*/
.site-search-results {
  display: none;
  @include font-size(1.6);
  border-bottom: 1px solid #bebebe;
  padding: 0;
  background: #fff;
  @include border-radius(0 0 3px 3px);
  @include background-clip(padding-box);
  width: 100%;
  word-wrap: break-word;

  ul {
    list-style: none outside;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  li {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px #d6d6d6 solid;
    border-width: 1px 0 0;

    a {
      display: block;
      padding: 10px 15px;
      color: $green;
        @include font-weight(500);

      &:hover,
      &:focus {
        outline: 0;
        background: #f2f2f2;
      }
    }
    &.no-results {
      padding: 8px 15px;
    }
  }
  a.submit {
    background: #f2f2f2;
    border: 1px solid #d6d6d6;
    padding: 10px 15px;
    display: block;
    @include border-radius(0 0 3px 3px);
    @include background-clip(padding-box);

    &:focus {
      outline: 0;
    }
  }

  &.ui_visible {
    display: block;
  }

  @media screen and (max-width: 767px) {
    @include box-shadow(rgba(0,0,0,0.15) 0 2px 5px 0);
    margin: 5px 0 -10px;
  }

  @include respond-wrapper-fallback(tablet, lt-ie9) {
    position: absolute;
    top: 42px;
    left: 0;
    border: 0;
    z-index: 9998;
    @include box-shadow(rgba(0,0,0,0.1) 0 5px 7px 0);

    ul {
      border: 1px solid #d6d6d6;
      border-width: 0 1px;
    }

  }
}



/*-----------------
  Mini basket flyout
*/

.utility-nav {
  font-weight: bold;

  .mini-basket-holder {

    z-index: 9999;

    &.menu-flyout {
      left: auto;
      right: -53px;
      top: 41px;
      padding: 0;
      width: 235px;
      @include box-shadow(inset #f1f1f1 0px -8px 0px);
      @include border-radius(0 0 2px 2px);
      @include font-size(1.3);
      text-align: center;
      border-width: 1px 1px 2px;
      z-index: 9999;

      #mini-basket {
        @include box-shadow(inset #f1f1f1 0px 8px 0px);
      }
      .ico-cart {
        display: none;
      }
      .button {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
      }

    }

    section {
      padding: 20px 0 30px;
    }
    header {
      padding: 0 20px;
    }
    .mini-basket-list,
    .promo,
    footer {
      clear: both;
      margin: 10px 0 0;
      padding: 20px 10px 0 10px;
      border-top: 1px solid #d9d9d9;
    }

    .rewards,
    .promo {

      em {
        color: $magenta;
          @include font-weight(500);
        font-style: normal;

        span {
         text-transform: uppercase;
        }
      }

    }
    .rewards {
      padding-bottom: 5px;

      strong {
        color: #868686;
          @include font-weight(300);
        @include font-size(1.2);
      }

    }
    .mini-basket-list {

        h2 {
        color: $green;
          @include font-weight(500);
      }

    }
    p {
      @include font-size(1.3);
    }
    li {
      position: relative;
      min-height: 50px;
      padding: 0 0 0 90px;
      margin: 0 0 0.5em 0;
      text-align: left;

      div.img {
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        text-align: center;
        overflow-x: hidden;

        img {
         display: inline;
        }
      }
      li {
        min-height: 0;
        margin: 0;
        padding: 0;

        &.inline {
          display: inline;
        }
      }
      strong {
          @include font-weight(300);
      }
      &.large {
        @include font-size(1.8);
          @include font-weight(500);
        margin: 4px 0 6px;
      }
    }
    footer {

      .button {
        @include font-size(1.4);
        line-height: 30px;
        @include font-weight(400);
        display: block;
        color: #fff;

        .ico {
          float: left;
          margin: 7px 10px 0 0;
        }
      }

    }

  }

}
.lt-ie9 {
  .utility-nav .mini-basket-holder.menu-flyout {

    left: auto;
    right: -57px;

  }
}
.lt-ie8 {
  .mini-basket-list {

    li li {
      clear: both;
    }

  }
}
