/*-------------------------------------
  Menu
*/

@mixin menuPipe {
  position: absolute;
  top: 6px;
  right: -2px;
  width: 2px;
  height: 37px;
  content: "";
  background-color: #57907f;
  z-index: 2;
}

/*-----------------
  Button
  button for toggling menu
  (appears only in linear view)
*/

.main-nav-bt-wrap {
  background: darken($green, 5%);
}
.main-nav-bt {
  width: 320px;
  margin: 0 auto;
  padding: 11px 0;
  @include font-size(1.6);
  line-height: 1px;
  text-shadow: none;
  color: #fff;
  cursor: pointer;

  .ico {
    margin-right: 14px;
  }

  @include respond-wrapper-fallback(tablet, lt-ie9) {
    display: none;
  }

}


/*-----------------
  Main menu
*/
.main-nav {

  background: $green;
  @include font-size(1.4);
  line-height: 1.5;

  @include respond-wrapper-fallback(tablet, lt-ie9) {
    min-height: 52px;
  }
  .page {
    position: relative;
  }
  [role=menubar] {
    @include simpleList;
    margin: 0px;
    @include clearFix;

    @include respond-wrapper-fallback(tablet, lt-ie9) {

      &:after {
        @include menuPipe;
        right: auto;
        left: 18px;
        z-index: 1;
      }

    }

  }

}

/*-----------------
  Top level items
*/
/* li */.main-nav-item {

  padding: 0;
  @include font-weight(400);

  @include respond-wrapper-fallback(tablet, lt-ie9) {
    float: left;
    margin: 0;

    /* The hover state is applied to the <li /> rather than the <a />
       so it persists when the mouse moves into the expanded drop-down
       (We're using a JS-powered .hover to allow consistency for keyboard & mouse users.
    */
    &.hover {

      > a {
        color: $green !important;
        background-color: #f3f3f3;
        @include border-radius(3px 3px 0 0);
        @include background-clip(padding-box);
        @include box-shadow(rgba(#000, .16) 0 5px 5px 0);
        @include transition (none);
        text-shadow: none;

        &:after {
          z-index: -1;
        }

      }

    }

  }

  /* Top level links */
  & > a {
    display: block;
    padding: 13px 0 7px;
    margin: -3px 0 0 0;
    color: #fff;
    position: relative;
    line-height: 1;
    text-shadow: 1px 0 1px #48832f;
    text-shadow: 1px 0 1px rgba(0,0,0,.2);
    z-index: 1;
    @include font-size(2);
    @include font-weight(300);

    @include respond-wrapper-fallback(tablet, lt-ie9) {
      @include font-size(1.7);
      margin: 0;
      padding: 15px 24px 0;
      height: 52px;
      @include font-weight(400);

      &:focus {
        text-decoration: none;
      }
      &:after {
       @include menuPipe;
      }

    }
    /* Smaller font-size for menu in some scenarios to avoid risk of wrapping */
  @media print, screen and (min-width: 768px) and (max-width: 1080px) {
      padding: 15px 22px 0;
    }
    @media screen and (min-width: 1120px) {
      @include font-size(1.8);
    }
    @media screen and (min-width: 1180px) {
      @include font-size(1.9);
    }

  }
  /* Adjust for mobile view */
  @media screen and (max-width: 767px) {

    &:first-child {

      a {
        margin-top: 0;
        padding-top: 22px;
      }

    }
    &:last-child {

      a {
        padding-bottom: 14px;
      }

    }

  }
  /* Active list item */
  &.current {
    & > a {
      color: $yellow;
    }

  }

  /* The hover state is applied to the <li /> rather than the <a />
     so it persists when the mouse moves into the expanded drop-down
  */
  &:hover {

    @include respond-wrapper-fallback(tablet, lt-ie9) {
  //    background-color: $light-green;
    }

  }

}

/* Variable nav class enables 8 items in main menu */
.main-nav.replete-nav {
  min-height: 0;
  @include clearFix();

  [role=menubar]:after {
    height: 29px;
  }

  .main-nav-item > a {

    @include respond-wrapper-fallback(tablet, lt-ie9) {
      @include font-size(1.4);
      height: auto;
      padding: 14px 9px 16px;
      &:after {
        height: 29px;
      }
    }

    @media screen and (min-width: 1120px) {
      @include font-size(1.5);
      padding: 14px 12px 16px;
    }

  }//.main-nav-item a

  .sub-nav {
    @include respond-wrapper-fallback(tablet, lt-ie9) {
      top: 42px;
    }
  }//.sub-nav

}//.main-nav.replete-nav




/*-----------------
  Sub menus
*/

.sub-nav {

  /* drop-downs aren't required in 320 view */
  display: none;
  text-shadow: none;
  z-index: 2;

  @include respond-wrapper-fallback(tablet, lt-ie9) {
    position: absolute;
    top: 47px;
    left: 20px;
    right: 20px;
    height: auto;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #f3f3f3;
    @include box-shadow(rgba(#000, .16) 0 5px 5px 0);
    @include border-radius(3px);

  }

}
/* This wrapper just allows us to have grey borders top and bottom with corner radius on the outside */
.sub-nav-inner {
  padding: 24px 30px 24px 0;
  background-color: #fff;
  overflow: hidden;
}
/* Add more definition if boxshadow isnt supported */
.no-boxshadow {

  .sub-nav {
    background-color: #eee;
  }
  .sub-nav-inner {
    margin: 0 1px 1px;
  }

}
.sub-nav-title {
  font-size: 21px;
  line-height: 24px;
  margin: 0 0 20px;
}

/* Themed blocks inside drop-downs */
.sub-nav-block {
  position: relative;
  padding: 0;
  font-size: 16px;
  line-height: 20px;

  @include respond-wrapper-fallback(tablet, lt-ie9) {
    float: left;
    padding: 0 0 0 30px;
  }

  /* Bespoke weighting and colouring of subnav block types */
  &.sub-nav-cats {

    width: 50.847457627119%;  /* 600px / 1180px * 100 */
    ul {
      width: 33.33%;
      a {
        color: $green;
      }
    }

  }
  &.sub-nav-brands {

    width: 16.949152542373%;  /* 200px / 1180px * 100 */
    ul {
      a {
        color: #666;
      }
    }
  }
  &.sub-nav-popular {

    width: 29.661016949153%;  /* 350px / 1180px * 100 */
    ul {
      a {
        color: #969696;
      }
    }
  }

  .link-list {

    @include simpleList;
    float: left;
    margin: 0;

    li {
      margin: 0 20px 8px 0;
    }

  }
  .more {
    clear: both;
    padding-top: 10px;
    font-size: 16px;

    a {
      color: #b9b9b9;
        @include font-weight(500);
    }

  }

}

/* Expand (suckerfish) dropdowns on hover and keyboard focus in desktop view
*/

  .main-nav-item.hover .sub-nav,
  .main-nav-item a:focus + .sub-nav {
  @include respond-wrapper-fallback(tablet, lt-ie9) {
    display: block;
  }

}


/* A simple nav item has only one list in the drop-down
*/
.simple-nav-item {
  position: relative;

  .sub-nav-inner {
    width: 250px;
  }
  .sub-nav {
    left: 0;
    right: auto;
  }

  /* If the last menu item is also a .simple-nav-item, right align it to avoid risk of overflowing the viewport
  */
  &.last-nav-item {

    .sub-nav {
      right: 0;
      left: auto;
    }

  }

}

/* IE7 fallbacks
*/
.lt-ie8 {
  .main-nav-item {

    /* box modelling */
    a {
      height: 37px;
    }
    .sub-nav {
      /* child selector polyfil */
      a {
        height: auto;
      }
    }

  }
  /* margin for error */
  .sub-nav-cats {
    width: 49%;
  }
  .sub-nav-brands {
    width: 15%;
  }
  .sub-nav-popular {
    width: 28%;
  }
}
