/*-------------------------------------
  Page display controls
  
  Layout switcher, pagination, sort & display options for product lists and search results
  
*/

.page-display {
  clear: both;
  @include font-size(1.4);
  
  .image-toggle {
    clear: right;
    padding-top: 10px;
  }
  .show-all {
    color: $orange;
    @include inline-block;
  }
  .form-item-group {
    padding: 10px 0 0;
    
    @include respond-wrapper-fallback(tablet, lt-ie9) {
      padding: 15px 0;
    }
  }

}
.image-toggle {
  float: right;
  margin: 20px 0 0;
}
.is-grid {
  .image-toggle {
    display: none;
  }
}

.page-sort,
.page-limit,
.l-switcher {

  @media only screen and (max-width: 767px) {
    margin-top: 10px;
  }

}
.page-sort {

  @include respond-wrapper-fallback(tablet, lt-ie9) {
    float: left;
  }
  
}
.page-limit {
  clear: both;
}

.page-limit,
.l-switcher {

  @include respond-wrapper-fallback(tablet, lt-ie9) {
    clear: none;
    float: right;
    margin: 0 0 0 20px;
  }
  
}
.l-switcher {

  button {
    border: 1px solid #d0d0d0;
    width: 48px;
    height: 48px;
    text-indent: -9999em;
    margin: 0 0 0 10px;
    @include border-radius(2px);
    @include box-shadow(none);
    background: #fff url(img/icons/icon-sprite.png) no-repeat;
  
    &:hover,
    &:focus { 
      border-color: #bbb;
    }
    &:disabled { 
      opacity: 0.2;
      border-color: #444;
      cursor: default;
    }
    &.l-switcher-grid {
      background-position: -57px 9px;
    }
    &.l-switcher-list {
      background-position: -57px -33px;
    }
  }
  
}


.lt-ie8 {

  button {
    float: left;
  }
  
}

/* Pagination 
*/
.list-pagination {
  clear: both;
  float: left;
  margin: 20px 0 10px 0;
  padding: 0;
  list-style: none;
  
  li { 
    @include inline-block; 
    margin: 0 2px 0 0;
    @include respond-wrapper-fallback(tablet, lt-ie9) {
      margin-right: 6px; 
    }
    @include font-size(1.6);
    line-height: 30px;
    
    &.current strong { 
      color: #999; 
    }
    
  }
  a, strong { 
    @include inline-block;
    line-height: 30px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid #d1d1d1;
    @include border-radius(5px);
    color: $text-color; 
    background: #fff;
    text-align: center;
    @include font-weight(400);
  }
  .prev,
  .next {
    @include font-size(1.9);
    
    a {
      width: 40px;
    }
    
  } 
  
}
.lt-ie8 {
  .list-pagination {
    li {
      @include inlineBlock;
    }
  }
}
