/*-----------------
  QAS postcode lookup overrides
*/  
.AddressFinder {
  
  a {
    color: $orange;
  }
  select {
      @include font-weight(300);
    
    option {
      padding: 4px;
    }
    
  }
  .postresults {
    
    &.buttons {
      margin: 0 0 10px;
      padding-left: 0 !important;
      
      span {
        display: block;
        padding: 10px 0;
      }
      
    }
    
  }
  .findButton {
    margin-bottom: 10px;
  }
  @include respond-wrapper-fallback(tablet, lt-ie9) {
    .waiting {
      padding-left: 250px;
      padding-top: 15px;
    }
  }
  .BFPOPrompt {
    margin: 10px 0;  
  }
}
.password-advice-box {
  margin-botom: 0;

  dt {
    margin: 0 0 5px;
  }
  dd {
    margin: 0;
  }

} 
