
/*=====================================
  Scratch file
  A home for embryonic code (until it's ready to be moved to a module file)
*/



/*-----------------
  Misc typography
*/

.page-title {
  margin: 0 0 30px;
  font-size: 33px;
  line-height: 1;
  @include font-weight(400);
}
.bullet-list {
  @include bulletList;
}

/* Body copy
*/
.body-copy {

  p,
  li {
    @include font-size(1.6);
    line-height: 1.35;
    margin: 15px 0 0;

    &:first-child {
      margin-top: 0;
    }

  }
  ul {
    margin: 15px 0 0;
  }
  .standfirst {

    p {
      @include font-size(2.0);
      line-height: 1.4;
        @include font-weight(500);
    }

  }
  .crosshead {
    @include font-size(2.0);
    line-height: 1.4;
      @include font-weight(500);
    margin: 15px 0 0;
  }
  h4 {
      @include font-weight(500);
  }

}

/*-----------------
  Misc
*/
/* Block-level links
   (re-apply hover states of nested elements individually)
*/
/* a */.block {
  display: block;
  &:hover {
    text-decoration: none;
  }
}

.add-link {

  &:before {
    content: "+ ";
    @include font-size(1.8);
  }

}
