/* Insert pipes between sibling <a />s
*/
.split {
  overflow: hidden;

  a,
  span {
    float: left;
    clear: both;
  }

  //@include respond-wrapper-fallback(tablet, lt-ie9) {

    a,
    span {
      float: none;
      @include inline-block;
      margin: 0 0 0 6px;
      padding: 0 0 0 10px;
      border-left: 1px #a8a8a8 solid;

      &:first-child {
        margin-left: 0;
        padding-left: 0;
        border: 0;
      }

    }

  //}

}
.lt-ie8 .split a {
  @include inlineBlock;
}
