.t-storefinder {

  .page-title,
  .user-actions {
    @include inline-block;
    margin: 0 30px 0 0;
  }
  .user-actions {
    @include font-size(1.4);
    display: none;

    a {
      display: block;
      margin: 20px 0 0;

      &.back-link {
        color: $green;
        padding-top: 8px;
      }

    }
    .ico {
      margin-top: -2px;
    }
    .ico-print-stores {
      margin-top: -3px;
    }
  }
  @include respond-wrapper-fallback(tablet, lt-ie9) {

    .user-actions {
      display: inline-block;
      a {
        margin: 0 0 0 20px;
        @include inline-block;
      }
    }
    .page-head {
      margin-bottom: 20px;
    }

  }

}

form.f-store-finder {
  margin: 20px 0;

  label {

    &.error {

      @media screen and (max-width: 767px) {
        display: block;
      }

      em {
        margin-top: 10px;
        display: block;
        @include font-size(1.4);
        font-style: normal;
        color: $errorRed;
      }

      &.text input {
        border: 2px solid $errorRed;
      }

    }

  }
  input {
    @extend %prettyTextInput;
  }
  [type=submit] {
    padding: 10px 10px 8px;
    text-transform: uppercase;
    @include font-weight(400);
  }
  input[type=text] {
    margin-bottom: 10px;
    width: 300px;
  }

  @include respond-wrapper-fallback(tablet, lt-ie9) {
    margin: 20px 0 40px;

    label,
    [type=submit] {
      float: left;
      margin: 0 10px 0 0;
    }

    select {
      margin-right:1em;
    }

    .fld-destination {
      margin-left: 10px;
    }

  }

}
#inp_radius {
  @include inline-block;
}

.storefinder-ornaments {

  img {
    width: 100%;
  }

  @include respond-wrapper-fallback(tablet, lt-ie9) {
    max-width: 100%;
  }

}

.storefinder-results {
  margin: 0;
  padding: 0;
  list-style: none outside;

  &,
  p,
  li {
   @include font-size(1.6);
  }

  li {
    margin: 0 0 35px 45px;
    position: relative;

    ul {
      padding: 0;
      margin: 0;
      list-style: none outside;
    }
    li {
      margin: 0;

      strong {
          @include font-weight(600);

        &:after {
          content: ":";
        }

      }

    }

  }

  h3 {
    @include font-size(2.1);
    margin: 0;

    span {
      position: absolute;
      top: -2px;
      left: -45px;
      width: 31px;
      height: 48px;
      @include font-size(1.6);
      line-height: 33px;
      text-align: center;
      text-transform: uppercase;
        @include font-weight(500);
      background: url(img/icons/icon-sprite.png) -20px -210px no-repeat;
    }
    strong {
        @include font-weight(500);
    }

  }

  p {
    margin: 0 0 0.5em 0;
  }
  .storefinder-directions {
    font-size: 0.875em;
    margin: 0 0 1em 0;

    a {
      color: $green;
      @include respond-wrapper-fallback(tablet, lt-ie9) {
        &.lnk-map { display: none; }
      }
    }
  }
  .tel {
      @include font-weight(500);
  }

}
.storefinder-suggestions.message-box {
  text-align: left;
  clear: both;

  ol {
    font-size: 1.5em;
  }
  li {
    margin: 4px 0 0;
  }
  a {
    color: $green;
  }

}

.sf-direction-list {
  font-size: 16px;

  dd {
    margin-left: 0;
  }
  ol {
    @include simpleList;
  }
  li {
    position: relative;

    &.inter {
      border: 0;
      color: #999;
      margin-top: 0.5;
      padding-top: 0;
      font-size: 0.92em;

      em {
        top: auto; bottom: -1.7em;
      }
    }
    em {
      position: absolute;
      top: -0.5em;
      right: 0;
      font-size: 0.83em;
      color: #999;
    }
  }
  li,
  .end-point {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ececec;
    border-top: 1px solid rgba(33,33,33,0.1);
  }
  .location {
      @include font-weight(600);
  }
  .start-point,
  .end-point {



  }
}

#gmap {
  width: 100%;
  height: 500px;
  background: #FFF;
  @include border-radius(4px);
  border: 1px solid #C4C4C4;

  p {
    margin: 0;
    @include font-size(1.6);
    line-height: 500px;
    text-align: center;
      @include font-weight(600);
    color: #CCC;

    @include respond-wrapper-fallback(tablet, lt-ie9) {
      @include font-size(4);
    }

  }

  @include respond-wrapper-fallback(tablet, lt-ie9) {

  }

}
