/* <dl>s with label/input-style aligment (in desktop view)
*/
.tabbedList {

  dt {
    clear: both;
    margin: 20px 0 0;
  }
  dd {
    color: #555;
    margin: 0;
  }

  @include respond-wrapper-fallback(tablet, lt-ie9) {

    dt {
      float: left;
      text-align: right;
      width: 240px;
    }
    dd {
      text-indent: 30px;
      margin: 20px 0 0;
      color: #555;
    }

  }

}
