/*-----------------
  JS enhanced mobile tables
*/
.responsive-table {
  th,
  td {
    display: table-cell;

    &.essential.visuallyhidden,
    &.optional.visuallyhidden {
      display: none !important;
    }

  }

}
table.enhanced {
  th,
  td {
    display: none;

    &.essential {
      display: table-cell;
    }

    @include respond-wrapper-fallback(tablet, lt-ie9) {
      &.optional {
        display: table-cell!important;
      }
    }
  }
}

.table-wrapper {
  position: relative;
  width: 100%;
  overflow: auto;
  padding-top: 20px;

  table {
    margin-top: 0;
    clear: both;
  }

  .column-menu {
    float: right;
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 2;
    margin-bottom: 10px;
    height: 25px;
    line-height: 25px;
    padding: 0 8px 0 6px;
    border: 1px solid #ccc;
    border-width: 1px 1px 1px 1px;
    color: $green;
    background: #efefef;
    @include font-size(1.4);

    &.active {
      border-color: #ccc;
      @include border-radius(3px 3px 0 0);
      background-color: #fff;
      border-bottom-color: #fff;
      color: $text-color;
      text-shadow: none;
    }
    &:before {
      content: "+ ";
    }
  }
}
.table-menu {
  position: absolute;
  z-index: 1;
  top: 29px;
  right: 0;
  left: auto;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  @include font-size(1.4);
  width: 150px;
  @include box-shadow(rgba(0,0,0,0.1) 2px 4px 5px 0);

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

@media print, only screen and (min-width: 768px) {
  .table-menu,
  .column-menu {
    display: none;
  }
}
