/*=====================================
  Teaser blocks
*/


.teaser-item {

  position: relative;

  p {
    margin: 0;
    @include font-size(1.6);
    line-height: 1.25;
      @include font-weight(300);
  }
  /* Adjustments for panel-themed teasers */
  &.panel {
    margin: 0 0 20px 0;

    .teaser-title {
      @include font-size(2.1);
      margin-bottom: 12px;

      @include respond-wrapper-fallback(tablet, lt-ie9) {
        @include font-size(2.4);
      }

    }
    p {
      @include font-size(1.6);
      line-height: 1.3;

      @include respond-wrapper-fallback(tablet, lt-ie9) {
        @include font-size(1.8);
        line-height: 1.2;
      }

    }
    /* Hover state */
    &:hover {

      @include box-shadow(rgba(#000, .07) 7px 7px 7px 0px);
      @include transition( all 0.3s ease-out );

    }

  }

}

.teaser-title {
  margin: 0 0 10px 0;
  @include font-size(1.8);
  line-height: 1.15;
  @include font-weight(500);

  @include respond-wrapper-fallback(tablet, lt-ie9) {
    @include font-size(2.1);
  }
}

/* Styling block-level links
*/
/* a */.block {

  .teaser-title,
  .link-text {
    @include font-weight(400);
    color: $green;
  }

  /* Hover state */
  &:hover {

    .teaser-title,
    .link-text {
      text-decoration: underline;
    }

  }

}


/*-----------------
  Editorial teaser blocks
  As found in right column of homepage
*/

.ed-teaser-block {

  .teaser-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid lightGrey;
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);

    &.has-img {
      padding-right: 90px;

      .thumb {
        float: right;
        margin: 0 -90px 0 0;
      }
      .round {
        width: 74px;
        height: 74px;
        @include border-radius(74px);
      }

    }

  }
  @media screen and (max-width: 767px) {
    padding-top: 20px;
    border-top: 5px $light-grey solid;
  }


}


/*-----------------
  Key message teaser blocks
  As found below promo panels on homepage
*/

.key-msg-teaser-block {
  clear: both;

  .teaser-item {
    margin: 10px 0 0;
    padding: 20px 0 10px;
    border: 5px $light-grey solid;
    border-width: 5px 0 0 0;

    p {
      @include font-size(1.8);
    }

    ul.additional-links {
      font-size: 13px;
      margin-bottom: 0;
      padding: 0;
      @include font-weight(400);

      a {
        color: $green;
      }
      li {
        @include simpleList;
        display: inline;
        padding: 0 6px;
        border-left: 1px solid #000;

        &.first {
          border-left: 0;
          padding-left: 0;
        }

      }

    }

    @include respond-wrapper-fallback(tablet, lt-ie9) {
      min-height: 163px;
      margin-top: 30px;
      border-width: 5px 0;
    }

    &.has-img {
      padding-left: 110px;

      .thumb {
        float: left;
        margin: 0 0 0 -110px;
      }
      .round {
        width: 86px;
        height: 86px;
        @include border-radius(86px);
      }

    }

  }
  .teaser-title {
    color: $text-color;
      @include font-weight(500);
  }

}
.t-home {

  .key-msg-teaser-block {

    .teaser-item {

      @include respond-wrapper-fallback(tablet, lt-ie9) {
        margin-top: 0;
      }

    }

  }
  @include respond-wrapper-fallback(tablet, lt-ie9) {

    .l-eq-height {

      .panel {
        overflow: hidden;
      }

    }

  }

}

/*-----------------
  Promo teaser blocks
*/

.promo-teaser-leader {
  @include lozenge;
  @include inline-block;
  @include font-size(1.2);
  @include font-weight(400);
  margin: 0 0 17px 0;
  padding: 4px;

  @include respond-wrapper-fallback(tablet, lt-ie9) {
    @include font-size(1.6);
      @include font-weight(500);
    padding: 9px;
  }


}
.promo-teaser-block {
  margin: 0 0 20px;
}

.promo-img {
  zoom: 1;

  img {
    max-width: 100%;
  }
  /* Layout extension classes for images */
  &.l-right {
    float: right;
    margin-left: 20px;
    max-width: 40%;
  }
  &.l-left {
    float: left;
    margin-right: 20px;
    max-width: 40%;
  }
  &.l-fit-bottom {
    margin-bottom: -20px;
  }

}
/* The 'bottom-right' promo image needs to be abs positioned,
   becuase we're using JS to set equal heights on the container.
   This can mean that the container is stretched taller than it
   would normally be and the -ve bottom-margin doesn't cut it.

   So, we need to add a class to the container.

   Risk: the image could be too wide and the text flow on top of it
*/
.teaser-item.img-bottom-right {

  p {
    padding-right: 50%;
  }
  .promo-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    overflow: hidden;

    @media screen and (max-width: 767px) {
      height: 50%;
    }

  }

}

.lt-ie8 {

  .promo-teaser-block {

    .panel {
      padding-bottom: 0;

      p {
        @include font-size(1.6);
        line-height: 1.4;
        padding-bottom: 18px;
      }

      .l-fit-bottom {
        overflow: visible;

        img {
          margin: 0 0 -20px;
        }
      }

    }

  }

}


/*-----------------
  'Recently Viewed' promo teaser blocks
*/
.recently-viewed {

  .teaser-block-title {
    color: #999;
  }

}

