/*-----------------
  Tooltips
*/  
.tooltip {
  position: relative;
  cursor: pointer;
  float: left;
  
  .tooltip-target {
    position: absolute;
    left: 0;
    top: 30px;
    border: 1px $light-grey solid;
    z-index: 100;

    &:after, 
    &:before {
      bottom: 100%;
      left: 20%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    
    &:after {
      border-color: transparent;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-left: -10px;
    }
    &:before {
      border-color: transparent;
      border-color: rgba(229, 229, 229, 0);
      border-bottom-color: #e5e5e5;
      border-width: 11px;
      margin-left: -11px;
    }
    
    p {
      @include font-size(1.4);
    }

  }
  
  @include respond-wrapper-fallback(tablet, lt-ie9) {
    float: right;

    .tooltip-target {
      left: auto;
      right: 0;

        &:after,
        &:before {
          left: 80%;
        }
      }

  }
  
}
